@model List<Book_Store_Website.Models.ItemsInCart>

@{
    ViewBag.Title = "Cart";

    //Layout 
    Layout = "~/Views/Shared/_Layout.cshtml";

    // Get the items from the JSON file
    Cart cart = new Cart();
    List<ItemsInCart> itemsInCart = cart.getItemsFormJson();





}






<table class="table text-white">
    <thead class="table-dark">
        <tr>
            <th scope="col">Image</th>
            <th scope="col">Book Title</th>
            <th scope="col">Price</th>
            <th scope="col">Quantity</th>
            <th scope="col">Total</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        @if (Model == null || Model.Count == 0)
        {
            <tr>
                <td colspan="6" class="text-white">No items in cart.</td>
            </tr>
        }
        else
        {
            @foreach (var item in itemsInCart)
            {
                <tr>
                    @*Show the image of the book*@
                    <td><img src="/Images/book2.png" width="100" /></td>

                    <td>@item.Title</td>
                    <td>@item.Price</td>
                    <td>

                        <form method="post" action="@Url.Action("UpdateQuantity", "Book")">
                            <input type="hidden" name="bookId" value="@item.BookId" />
                            <input id="q" type="number" name="quantity" value="@item.Quantity" min="1" />
                            <button type="submit">Update</button>



                        </form>
                    </td>
                    <td>@Math.Round(item.Price * item.Quantity, 2)</td>
                    <td>
                        <form method="post" action="@Url.Action("RemoveFromCart", "Book")">
                            <input type="hidden" name="bookId" value="@item.BookId" />
                            <button type="submit"><i class="fa-sharp fa-solid fa-trash"></i></button>
                        </form>
                    </td>
                </tr>
            }
        }
    </tbody>


<tfoot class="table-dark">
        <tr>
            <td colspan="3"></td>
            <td>
                @if (Model != null && Model.Count > 0)
                {

                    //Round the total to 2 decimal places

                    <strong>Total: R @Math.Round(Model.Sum(x => x.Price * x.Quantity), 2)</strong>
                   
                }
            </td>

            <td>
                @if (Model != null && Model.Count > 0)
                {

                    <form method="post" action="@Url.Action("Checkout", "Book")">
                        <button type="submit">Checkout</button>
                    </form>
                }


            </td>

            <td>
                @if (Model != null && Model.Count > 0)
                {

                    <form method="post" action="@Url.Action("ClearCart", "Book")">
                        <button type="submit">Clear Cart</button>
                    </form>
                }


            </td>
        </tr>

</table>



<style>

    table{
        font-size: 20px;
    }


    button{
                        
        background-color: #333; /* Green */
        border: none;
        color: white;
        padding: 15px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        border-radius: 12px;


    
    }

    

</style>