@model List<Book_Store_Website.Models.Book>

@{
    ViewData["Title"] = "Search";

    //Textboxfor    

}

<h1>Search Books</h1>

<form method="post">
    <div class="form-group">
        <label for="search">Search by Title or Author:</label>
        @*Use a textboxfor to search by title or author*@
        <input type="text" class="form-control" id="search" name="search" />
    
    </div>
    <br />
    <button type="submit" class="btn addcartbtn btn-primary">Search</button>
</form>

<hr />

@if (Model != null && Model.Count > 0)
{
    <h2>Search Results:</h2>

    <table class="table text-white">
        <thead>
            <tr>
                <th>Title</th>
                <th>Description</th>
                <th>Author</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var book in Model)
            {
                <tr>
                    <td>@book.Title</td>
                    <td>@book.Description</td>
                    <td>@book.Author</td>
                    <td>@book.Price</td>

                    @*Detials button*@
<td>
                        <a asp-action="Details" asp-controller="Book"
                           asp-route-id="@book.Id" class="btn btn-primary addcartbtn">Details</a>
</td>

                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>No books found.</p>
}


<style>
    .addcartbtn {
    /*pill shape*/

    border-radius: 20px;
    background: rgb(33,33,37);
    background: linear-gradient(98deg, rgba(33,33,37,1) 5%, rgba(57,57,59,1) 65%, rgba(90,95,96,1) 94%);
    border: 1px solid #333;
    }

    .addcartbtn:hover {
    background-color: white;
    color: black;
    border: 1px solid #333;
    }

</style>